.shopcar-container {
  position: relative;
  width: 100%;
}
.shopcar-container .shopcar-wrapper {
  width: 96%;
  margin: 2%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.shopcar-container .shopcar-wrapper .shopcar-body {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.shopcar-container .shopcar-wrapper .shopcar-body .item-info-tit {
  width: 100%;
  height: 40px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.shopcar-container .shopcar-wrapper .shopcar-body .item-info-tit div {
  float: left;
  height: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
}
.shopcar-container .shopcar-wrapper .shopcar-body .item-info-tit .img {
  width: 300px;
  margin-left: 100px;
}
.shopcar-container .shopcar-wrapper .shopcar-body .item-info-tit .tit {
  width: 200px;
}
.shopcar-container .shopcar-wrapper .shopcar-body .item-info-tit .price,
.shopcar-container .shopcar-wrapper .shopcar-body .item-info-tit .whole-price {
  width: 150px;
}
.shopcar-container .shopcar-wrapper .shopcar-body .item-info-tit .num {
  width: 100px;
}
.shopcar-container .shopcar-wrapper .shopcar-body ul {
  padding: 5px 0;
}
.shopcar-container .shopcar-wrapper .shopcar-body ul .shopcar-item {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.shopcar-container .shopcar-wrapper .shopcar-body ul .shopcar-item:last-child {
  margin: 0;
}
.shopcar-container .shopcar-wrapper .shopcar-body ul .shopcar-item div {
  float: left;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.shopcar-container .shopcar-wrapper .shopcar-body ul .shopcar-item .clickable {
  width: 100px;
}
.shopcar-container .shopcar-wrapper .shopcar-body ul .shopcar-item .img {
  width: 60px;
  height: 60px;
  margin: 20px 120px;
  overflow: hidden;
}
.shopcar-container .shopcar-wrapper .shopcar-body ul .shopcar-item .img img {
  display: block;
  width: 100%;
  height: 100%;
}
.shopcar-container .shopcar-wrapper .shopcar-body ul .shopcar-item .title {
  width: 200px;
}
.shopcar-container .shopcar-wrapper .shopcar-body ul .shopcar-item .price,
.shopcar-container .shopcar-wrapper .shopcar-body ul .shopcar-item .whole-price {
  width: 150px;
}
.shopcar-container .shopcar-wrapper .shopcar-body ul .shopcar-item .num {
  width: 100px;
}
.shopcar-container .shopcar-wrapper .shopcar-body .shopcar-footer {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 10px 0;
  overflow: hidden;
}
.shopcar-container .shopcar-wrapper .shopcar-body .shopcar-footer .left-choose-whole {
  position: absolute;
  left: 40px;
  vertical-align: middle;
  font-size: 14px;
}
.shopcar-container .shopcar-wrapper .shopcar-body .shopcar-footer .left-choose-whole input {
  margin-right: 5px;
}
.shopcar-container .shopcar-wrapper .shopcar-body .shopcar-footer .right-buy {
  position: absolute;
  top: 0;
  right: 40px;
  height: 40px;
  line-height: 40px;
}
.shopcar-container .shopcar-wrapper .shopcar-body .shopcar-footer .right-buy .nums {
  margin: 0 5px;
}
.shopcar-container .shopcar-wrapper .shopcar-body .shopcar-footer .right-buy button {
  width: 60px;
  height: 40px;
  margin-left: 20px;
  border: none;
  letter-spacing: 2px;
  background-color: #7ED9F6;
  color: #fff;
}
/*# sourceMappingURL=./index.css.map */