.header-container {
  width: 100%;
  height: 30px;
  background-color: #E3E4E5;
}
.header-container .header-wrapper {
  height: 100%;
  background-color: transparent;
}
.header-container .header-wrapper .left-location {
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  font-size: 12px;
  color: #999;
}
.header-container .header-wrapper .left-location span {
  margin-right: 5px;
}
.header-container .header-wrapper .right-items {
  height: 30px;
  line-height: 30px;
  color: #A6A6A6;
}
.header-container .header-wrapper .right-items .log {
  font-size: 12px;
  margin-right: 5px;
  cursor: pointer;
}
.header-container .header-wrapper .right-items .log span {
  margin-left: 5px;
}
.header-container .header-wrapper .right-items .log:hover {
  color: #888;
}
.header-container .header-wrapper .right-items .log:hover span {
  color: #7ED9F6;
}
.header-container .header-wrapper .right-items .items-container {
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.header-container .header-wrapper .right-items .items-container ul li {
  position: relative;
  height: 100%;
}
.header-container .header-wrapper .right-items .items-container ul li .split-line {
  width: 1px;
  height: 10px;
  margin: 10px;
  background-color: #999;
  outline: none;
}
.header-container .header-wrapper .right-items .items-container ul li .item {
  position: relative;
  height: 30px;
  padding: 0 10px;
  font-size: 12px;
  color: #999;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: none;
}
.header-container .header-wrapper .right-items .items-container ul li .item .center-control {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 240px;
  border: 1px solid transparent;
  border-top: none;
  background-color: #fff;
  z-index: 100;
}
.header-container .header-wrapper .right-items .items-container ul li .item .center-control ul {
  width: 100%;
  height: 100%;
}
.header-container .header-wrapper .right-items .items-container ul li .item .center-control ul .item-list {
  padding-top: 5px;
  border-bottom: 1px solid #999;
}
.header-container .header-wrapper .right-items .items-container ul li .item .center-control ul .item-list ul {
  display: inline-block;
  width: 100%;
}
.header-container .header-wrapper .right-items .items-container ul li .item .center-control ul .item-list ul li {
  width: 33%;
}
.header-container .header-wrapper .right-items .items-container ul li .item .center-control ul .item-list ul li:hover {
  color: #7ED9F6;
}
.header-container .header-wrapper .right-items .items-container ul li .item .center-control ul .item-list:nth-child(even) {
  border-top: 1px solid #999;
}
.header-container .header-wrapper .right-items .items-container ul li.no-children:hover .item {
  color: #7ED9F6;
}
.header-container .header-wrapper .right-items .items-container ul li.has-children:hover .item {
  border-color: #aaa;
  background-color: #fff;
}
.header-container .header-wrapper .right-items .items-container ul li.has-children:hover .item .center-control {
  display: block;
  border-color: #aaa;
}
/*# sourceMappingURL=./index.css.map */